@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #0a0c18;
}

header .wrappers {
  background: #0a0c18;
  max-width: 1400px;
  margin: auto;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .wrappers .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .wrappers .logo p {
  color: #ffff;
  margin-right: 10px;
  font-size: 1.5rem;
}

header .wrappers .logo p:last-child {
  color: #ff3c3c;
}

header .wrappers .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .wrappers .nav-bar a {
  color: #ffff;
  border-bottom: 2px solid transparent;
  margin-right: 2rem;
}

header .wrappers .nav-bar a:last-child {
  margin-right: 0;
  color: #ff3c3c;
}

header .wrappers .nav-bar a:hover {
  border-bottom: 2px solid blue;
}

header .burger {
  display: none;
  width: 30px;
}

.Container {
  padding: 9rem 0;
  background: url("../images/Vector.svg");
  background-position: center;
  background-repeat: repeat-x;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffff;
}

.Container .ContainerPart {
  width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Container .ContainerPart .ContainerPart1 p {
  margin-top: 1rem;
}

.Container .ContainerPart .ContainerPart1 p:first-child {
  font-size: 50px;
}

.Container .ContainerPart .ContainerPart1 p:nth-child(2) {
  font-size: 50px;
}

.Container .ContainerPart .ContainerPart1 .joint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 2.5rem;
}

.Container .ContainerPart .ContainerPart1 .joint button {
  padding: 1rem 1.5rem;
  background-color: #ff3c3c;
  margin-right: 0.6rem;
  cursor: pointer;
  border: 0;
  font-size: 14px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #ff3c3c;
  color: #14182f;
}

.Container .ContainerPart .ContainerPart1 .joint button.secondary-button {
  background-color: transparent !important;
  color: #ffff;
  font-weight: normal;
  margin-left: 0.5rem;
  border: 1px solid transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.Container .ContainerPart .ContainerPart1 .joint button.secondary-button:hover {
  border: 1px solid #ffff;
}

.Container .ContainerPart img {
  width: 30%;
  height: 30%;
}

.firstPart {
  max-width: 1300px;
  margin: auto;
  color: #ffff;
}

.firstPart p:first-child {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.firstPart .firstPart1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
}

.firstPart .firstPart1 img {
  width: 35%;
  height: 35%;
}

.firstPart .firstPart1 .textPart1 {
  margin-left: 5.5rem;
}

.firstPart .firstPart1 .textPart1 p {
  margin-top: 1.5rem;
  font-size: 17px;
  line-height: 1.2rem;
}

.firstPart2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 7rem;
}

.firstPart2 .textPart2 {
  font-size: 17px;
  line-height: 1rem;
  margin-right: 5.5rem;
}

.firstPart2 .textPart2 p {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 1.5rem;
  line-height: 1.2rem;
}

.firstPart2 .textPart2 img {
  width: 20%;
  height: 20%;
}

.firstPart3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 7rem;
}

.firstPart3 img {
  width: 30%;
  height: 30%;
}

.firstPart3 .textPart3 {
  margin-left: 5.5rem;
}

.firstPart3 .textPart3 p {
  margin-top: 1.5rem;
}

footer {
  margin-top: 3rem;
  background: #14182f;
}

footer .footerPart {
  max-width: 1300px;
  padding: 3rem 0;
  margin: auto;
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footerPart .part1 .logo-part11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

footer .footerPart .part1 .logo-part11 p {
  font-size: 25px;
}

footer .footerPart .part1 .logo-part11 p:last-child {
  color: #ff3c3c;
  margin-left: 0.5rem;
}

footer .footerPart .part1 .part1-text .icon-text {
  margin: 1rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

footer .footerPart .part1 .part1-text .icon-text img {
  width: 20px;
  height: 15px;
  margin-right: 0.5rem;
}

footer .footerPart .part1 p {
  font-size: 15px;
}

footer .footerPart .part2 p {
  font-size: 25px;
}

footer .footerPart .part2 .footer-list {
  font-size: 15px;
}

footer .footerPart .part2 .footer-list ul a li {
  margin-top: 0.8rem;
  color: #ffff;
}

footer .footerPart .part3 {
  line-height: 2.7rem;
}

footer .footerPart .part3 p:first-child {
  font-size: 30px;
}

footer .footerPart .part4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footerPart .part4 button {
  padding: 1rem 1.3rem;
  background-color: #ff3c3c;
  border: 0;
  cursor: pointer;
}

@media screen and (max-width: 1432px) {
  header .wrappers {
    margin: 0 1rem;
  }
  .Container .ContainerPart {
    margin: 0 3rem;
  }
  .firstPart {
    margin: 0 3rem;
  }
  footer .footerPart {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 1010px) {
  .Container {
    background: #14182f;
    margin-bottom: 3rem;
    padding: 4rem 0;
  }
  .Container .ContainerPart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .Container .ContainerPart svg {
    width: 60%;
    height: 60%;
  }
  .Container .ContainerPart .ContainerPart1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Container .ContainerPart .ContainerPart1 p:first-child {
    font-size: 35px;
  }
  .Container .ContainerPart .ContainerPart1 p:nth-child(2) {
    font-size: 35px;
  }
}

@media screen and (max-width: 975px) {
  header .nav-bar nav {
    display: none;
  }
  header .nav-bar .burger {
    display: block;
  }
  .Container {
    padding: 2rem;
  }
  .firstPart p {
    margin-top: 3rem;
  }
  footer .footerPart .part2 {
    display: none;
  }
  footer .footerPart .part3 {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  .firstPart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .firstPart p:first-child {
    margin: 0;
  }
  .firstPart .firstPart1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .firstPart .firstPart1 .textPart1 {
    margin-top: 2rem;
    margin-left: 0;
    text-align: center;
  }
  .firstPart .firstPart1 img {
    width: 60%;
    height: 60%;
    margin: 0;
  }
  .firstPart .firstPart2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .firstPart .firstPart2 .textPart2 {
    margin-top: 2rem;
    margin-right: 0;
    text-align: center;
  }
  .firstPart .firstPart2 img {
    width: 60%;
    height: 60%;
  }
  .firstPart .firstPart3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .firstPart .firstPart3 .textPart3 {
    margin-top: 2rem;
    margin-left: 0;
    text-align: center;
  }
  .firstPart .firstPart3 img {
    width: 60%;
    height: 60%;
  }
}

@media screen and (max-width: 600px) {
  .Container .ContainerPart {
    margin: 0;
  }
  .Container .ContainerPart .ContainerPart1 {
    text-align: center;
  }
}

@media screen and (max-width: 475px) {
  .Container {
    margin: 0;
  }
  .Container .ContainerPart {
    margin: 0;
  }
  footer .footerPart {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 420px) {
  footer .footerPart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footerPart p:nth-child(4) {
    display: none;
  }
  footer .footerPart .part1 {
    font-size: 10px;
    margin-right: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footerPart .part1 .logo-part11::before {
    content: "Invite";
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
  footer .footerPart .part1 .part1-text {
    display: none;
  }
  footer .footerPart button {
    margin-top: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */